$debit-color: #f04124;
$credit-color: #43ac6a;

.debit { color: $debit-color; }
.credit { color: $credit-color; }

tr.disabled {
  background: #ededed;
}

#transaction-list {
  table {
    width: 100%;
  }
}

#transaction-add {
  button[type="submit"] {
    @extend .success;
  }
}

#transaction-import {
  table {
    width: 100%;
  }
}