<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Personal Finance</h1>
  <p class="lead">
    <span id="logo-icon">$</span>
    <br>
    The easiest way to control your money.
  </p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p><img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/social-github-circular-24.png"><a href="https://github.com/maxcnunes/perfinster">maxcnunes/perfinster</a></p>
</div>
