<div ng-include="'partials/navbar'"></div>

<div id="transaction-list">
  <h1>Transactions
    <a href="#/transactions/add" class="button success tiny right"><i class="foundicon-add-doc"></i>
      New
    </a>
    <a href="#/transactions/import" class="button success tiny right"><i class="foundicon-inbox"></i>
      Import
    </a>
  </h1>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Date Posted</th>
        <th>Amount</th>
        <th>Desc</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in transactions">
        <td>{{transaction.type}}</td>
        <td>{{transaction.datePosted | date: 'dd/MM/yyyy'}}</td>
        <td>{{transaction.amount | currency}}</td>
        <td>{{transaction.memo}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
