<div id="transaction-import">
  <h1></h1>
  <form>
    <fieldset>
      <legend>Transactions</legend>
      <div class="row">
        <div class="large-12 columns">
          <p>Import Itau extract file.</p>
          <input type="file" ng-file-select="onFileSelect($files)" >
          <table ng-show="transactions">
            <thead>
              <tr>
                <th>Action</th>
                <th>Status</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date Posted</th>
                <th>Desc</th>
                <th>Category</th>
                <!-- <th>Auto<br/>Categorize</th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="transaction in transactions" ng-class="{ disabled: isDisabled(transaction) }">
                <td>
                  <select ng-model="transaction.action" ng-options="action for action in actions" ng-disabled="isDisabled(transaction)"></select>
                </td>
                <td>{{transaction.statusDesc}}</td>
                <td ng-class="transaction.type.toLowerCase()">{{transaction.type}}</td>
                <td ng-class="transaction.type.toLowerCase()">{{transaction.amount | currency}}</td>
                <td>{{transaction.datePosted | date: 'dd/MM/yyyy'}}</td>
                <td>{{transaction.memo}}</td>
                <td><input type="text" placeholder="Transport" class="sfTypeahead" datasets="categories" ng-disabled="isDisabled(transaction)"></td>
                <!--<td><input type="checkbox" /></td>-->
              </tr>
            </tbody>
          </table>
        </div>

        <div id="summary" ng-show="transactions">
          <ul class="small-block-grid-3">
            <li>
              <ul id="credit" class="pricing-table">
                <li class="title">Credit</li>
                <li class="price">{{ totalCredit() | currency }}</li>
              </ul>
            </li>
            <li>
              <ul id="debit" class="pricing-table">
                <li class="title">Debit</li>
                <li class="price">{{ totalDebit() | currency }}</li>
              </ul>
            </li>
            <li>
              <ul class="pricing-table">
                <li class="title">Total</li>
                <li class="price">{{ total() | currency }}</li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
      <div class="form-actions">
        <button ng-click="save()" ng-show="transactions"> <i class="foundicon-checkmark"></i>
          Confirm
        </button>

        <button ng-click="back()"> <i class="foundicon-left-arrow"></i>
          Back
        </button>
        <i class="foundicon-asterisk" data-bind="visible: hasChanges"></i>
      </div>
    </fieldset>
  </form>
</div>